@model List<blog.vanwalsum.com.au.Models.PostViewModels.PostSummaryViewModel>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="jumbotron">
        <h1>IT Blog</h1>
        <p>.</p>
    </div>
    <div class="col-md-pull-8">
        @foreach (var blog in Model)
        {
            <div class="BlogEntry">
                <Div class="BlogTitle">@blog.Title</Div>
                <div class="BlogDate">@blog.Created</div>
                <div class="BlogSummaryImage">@blog.SummaryImageUrl</div>
                <div class="BlogContents">@blog.ShortDescription</div>
                <div class="BlogAuthor">@blog.WrittenBy</div>
            </div>
        }

    </div>
    <div class="col-md-3">
        <div class="well">
            <!-- sidebar -->
            @await Component.InvokeAsync("SideBar")
        </div>
    </div>
</div>
