@model List<blog.vanwalsum.com.au.Models.PostViewModels.PostSummaryViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12 ">

        <ol class="breadcrumb" style="margin-top:25px; background-color:inherit">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Blog">Posts</a></li>
        </ol>
    </div>
    <div class="col-md-3">
        <div class="well">
            <!-- sidebar -->
            @await Component.InvokeAsync("SideBar")
        </div>
    </div>
    <div class="col-md-9">
        @if (Model.Count > 0)
        {
            foreach (var post in Model)
            {
                <div class="BlogEntry panel col-md-5">
                    <Div class="postTitle"><h2 class="text-center"><a href="/Blog/@post.ID/@post.Slug">@post.Title</a></h2></Div>
                    <div class="postSummaryImg"><img class="img-responsive" src="@post.SummaryImageUrl" /></div>
                    <div class="postDate text-right">@post.Created, by @post.WrittenBy</div>
                    <div class="postSummary">@post.ShortDescription</div>
                    <div vlsdd="postMore"><a href="/Blog/@post.ID/@post.Slug" class="postMoreButton btn btn-success pull-right">More <i class="fa fa-angle-double-right"></i></a></div>
                </div>
            }
        }
        else
        {
            <h2>No Posts!</h2>
            <p></p>
        }
    </div>

</div>
