@model blog.vanwalsum.com.au.Models.PostViewModels.PostDetailViewModel


<div class="row">
    <div class="col-md-12 ">

        <ol class="breadcrumb" style="margin-top:25px; background-color:inherit">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Blog">Posts</a></li>
            <li class="breadcrumb-item active">@Model.Title</li>
        </ol>
    </div>
    <div class="col-md-3">
        <div class="well">
            <!-- sidebar -->
            @await Component.InvokeAsync("SideBar")
        </div>
    </div>
    <div class="col-md-9">
        <div class="BlogEntry panel col-md-12">
            <div class="PostTitle">
                <h2>@Model.Title</h2>
            </div>
            <div class="PostAuthor">@Model.Created, By @Model.Author</div>
            
            <div class="PostImage">
                <img src="@Model.HeaderImgUrl" alt="@Model.HeaderImgUrl" />
            </div>
            <div class="PostContents">
                @Html.Raw(System.Net.WebUtility.HtmlDecode(Model.Contents))
            </div>
        </div>
    </div>
</div>
